.login {
    padding: 2rem 2rem;
    
    h1 {
        color: purple;
        padding: 1rem 0rem;
    }
    form {
        input {
            height: 40px;
            display: block; 
            margin :10px 0;
            width: 300px;
        }
        button {
            height: 30px;
            width: 120px;
        }
    }
}